/* -------------------------------------------------------------------------- */
/* --- Styling Code Editors                                               --- */
/* -------------------------------------------------------------------------- */

.dome-xText {
    flex: 1 1 auto ;
    overflow: hidden ;
    position: relative ;
    fontSize: smaller ;
}

.dome-xText .CodeMirror {
    width: 100% ;
    height: 100% ;
    line-height: 1.2 !important;
    text-shadow: none !important;
}

.dome-xText-hover {
    background: var(--code-hover) ;
}

.dome-xText-select {
    background: var(--code-select) !important ;
}

.dome-xText-select.dome-xText-hover {
    background: var(--code-select-hover) !important ;
}

/* -------------------------------------------------------------------------- */
/* --- Styling Page                                                       --- */
/* -------------------------------------------------------------------------- */

.dome-xPages-note {
    padding: 2px ;
}

.dome-xPages-page {
    flex: 1 1 auto ;
    overflow: hidden ;
}

.dome-xPages-sheet {
    position: relative ;
    width: calc(100% - 16px) ;
    height: calc(100% - 16px) ;
    margin: 8px ;
    padding: 8px ;
    border-radius: 2px ;
    overflow: auto ;
}

/* -------------------------------------------------------------------------- */
/* --- Styling Content                                                    --- */
/* -------------------------------------------------------------------------- */

.dome-pages * {
    user-select: text ;
}

.dome-pages h1:first-child {
    margin-top: 0px ;
}

.dome-pages h1 {
    margin-top: 24px ;
    margin-bottom: 5px ;
}

.dome-pages h2 {
    margin-top: 16px ;
    margin-bottom: 5px ;
}

.dome-pages h3 {
    margin-top: 10px ;
    margin-bottom: 5px ;
}

.dome-pages h4 {
    margin-top: 6px ;
    margin-bottom: 3px ;
}

.dome-pages h5 {
    margin-top: 3px ;
    margin-bottom: 3px ;
}

.dome-pages p
{
    margin-top: 3px ;
    margin-bottom: 3px ;
}

.dome-pages ul
{
    padding-left: 6px ;
    margin-left: 16px ;
}

.dome-pages li
{

}

/* -------------------------------------------------------------------------- */
/* --- Styling CodeMirror 6 editor                                        --- */
/* -------------------------------------------------------------------------- */

.cm-global-box {
  height: 100%;
  overflow: auto;
}

.cm-editor {
  background-color: var(--background-report);
  color: var(--text);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cm-editor .cm-gutters {
  border-right: 0px;
  min-width: 2.15em;
  background: var(--background-report);
}

.cm-editor .cm-gutters .cm-lineNumbers {
  color: var(--disabled-text);
}

.cm-editor .cm-panels {
  font-size: 13px;
  background: var(--background-report);
  color: var(--text);
}

.cm-editor .cm-panels-bottom {
  border-top: 2px solid var(--background-softer);
}

.cm-editor .cm-panel.cm-search {
  padding: 4px 6px 4px 6px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.cm-editor .cm-panel.cm-search label {
  font-size: 80%;
  display: flex;
  align-items: center;
}

.cm-editor .cm-panel.cm-search [name=close] {
  color: var(--info-text);
}

.cm-editor .cm-textfield {
  background: var(--background-report);
  color: var(--text);
  border: 1px solid var(--border);
}

.cm-editor .cm-button {
  background-image: var(--default-button-img);
  border: 1px solid var(--border);
  color: var(--text);
}

.cm-editor .cm-panel.cm-gotoLine {
  padding: 4px 6px 4px 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.cm-property-gutter {
  width: 1.3em;
  background: var(--code-bullet);
}

.cm-deadcode-gutter {
  width: 4px;
  background: var(--code-bullet);
  color: var(--dead-code);
}

.cm-hovered-code {
  background-color: var(--code-hover);
}

.cm-selected-code {
  background-color: var(--code-select);
}

.cm-selected-code:hover {
  background-color: var(--code-select-hover);
}

.cm-multiple-code {
  background-color: var(--highlighted-marker);
}

:not(.cm-dead-code) > .cm-dead-code {
  font-style: italic;
  filter: opacity(0.5);
}

.cm-non-term-code {
}

.cm-tainted {
  text-decoration: underline var(--warning) solid 1px;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

.cm-tooltip.cm-tainted-tooltip {
  background-color: var(--background-softer);
  color: var(--text-highlighted);
  border: 1px solid var(--background-profound);
  padding: 2px 7px;
  border-radius: 4px;
}

.cm-tooltip-above.cm-tainted-tooltip .cm-tooltip-arrow:before {
  border-top-color: var(--background-profound);
}

.cm-tooltip-above.cm-tainted-tooltip .cm-tooltip-arrow:after {
  border-top-color: var(--background-softer);
}

.cm-def { color: var(--codemirror-def); }
.cm-comment { color: var(--codemirror-comment); }
.cm-type { color: var(--codemirror-type); }
.cm-number { color: var(--codemirror-number); }
.cm-keyword { color: var(--codemirror-keyword); }

.cm-active-line { background-color: var(--background); }

/* -------------------------------------------------------------------------- */
